body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#gameCanvas {
  background-color: #000;
  border: 4px solid white;
  display: block;
  touch-action: none;
}

#gameOverImage {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 200px;
  transform: translateX(-50%);
  display: none;
  z-index: 10;
  pointer-events: none;
}

